%input{:type => :hidden, :id =>'page_identifier', :value => 'dashboard.index'}

- unless @my_challenges.empty?
  %h1 Listing My Challenges
  .challenges-list.row#my_challenges
    = render @my_challenges

%h1 Listing New Challenges
.challenges-list.row#upcoming_challenges
  = render @upcoming_challenges
