[
{"category": "challenge", "name": "Hardcoded challenge", "lead": "Hardcoded lead"},
{"category": "user", "name": "Bram (hc)", "id": 1},
- for i in 0..2000
  {"category": "message", "from": 1, "to": 2, "subject": "Hello other user! #{i}"},
{"category": "message", "from": 1, "to": 2, "subject": "Hello other user!"}
]