%input{:type => :hidden, :id =>'page_identifier', :value => 'search.index'}

%h2
  Search

%div.input-prepend
  %span.add-on
    %i.icon-search
  %input#search-bar{:type => "text", :placeholder => "Search"}

%p#results_id
  Hello world

%div#search-list
  %ul.filter
    %li.btn#filter-none Show all
    %li.btn#filter-users Only users

  %table.table
    %thead
      %tr
        %th.hidden ID
        %th.sort{:data_sort => "type"} type
        %th.sort{:data_sort => "name"} Name
        %th Link
        %th One-liner
    %tbody.list
      %tr
        %th.id.hidden 1
        %th.type page
        %th.name Challenge Guidelines
        %th.link 
          = link_to("link", challengeguidelines_path())
        %th.onel Learn how to create a challenge

%script{:language => "JavaScript"}
  = "var query_path = '#{search_path()}.json';"