%input{:type => :hidden, :id =>'page_identifier', :value => 'search.index'}

%h1
  Search

.center
  %form.form-search
    %input.search-query.span6#search-full-query{:type => "text", :placeholder => "Type to search", :autocomplete => "off"}

#search-full-results