.page-header
  %h1 About Science challenges

.row
  .span7.offset1
    %p
      It is our mission to inspire students to follow and discover their passion. Unlocking the full potential of students requires some innovation at universities. We decided to create a healthy community to stimulate the sharing of  knowledge between students, teachers and companies. We achieve this by offering challenges where small groups of passionate students can work on the most awesome challenges our world has to offer with leading experts in the field.
  .span3.bigicon{:style => 'padding-top: 10px;'}
    %i.icon-rocket.blue-icon

.row.static-text-row
  .span3.bigicon.left-icon{:style => 'padding-top: 35px;'}
    %i.icon-plus.blue-icon
  .span7
    %h2 Where do these challenges come from?
    %p
      Experts in the field, including professors from universities and experts from companies, have the opportunity to add their most awesome and challenging cases. Every case is reviewed by us to ensure that the challenge is awesome enough.
  .span3

.row.static-text-row
  .span7.offset1
    %h2 How does it work?
    %p 
      Students can search and enroll for challenges that meet their interests. Students can even recommend a challenge to one another. Upon enrollment a notification is sent when the challenges starts with detailed instructions. The student will, depending on the type and commitment of a challenge, spend several hours per week on a challenge. It is a unique opportunity for a student to work with experts in the field. 
  .span3.bigicon{:style => 'padding-top: 65px;'}
    %i.icon-road.blue-icon
.row.static-text-row
  .span3.bigicon.left-icon{:style => 'padding-top: 45px;'}
    %i.icon-heart.blue-icon
  .span7
    %h2 Our motto
    %p
      Learn, share, make friends and have fun! That is our core value, we try to remove all  obstacles to make it as accessible and enjoyable as possible for students to discover their passion. We hope that in the process a lot of friendships will be formed, by learning from others and meeting people with the same interests.
  .span3



