.page-header
  %h1 Challenge guidelines
%p
  These guidelines are intended to ensure that a challenge will meet our requirements. They should give you a clear overview of our expectations. A challenge consists of various parts and this document attempt to describe each part briefly.
  %br
  %br
  Here is a short overview
  %ul
    %li Lead
    %li Description
    %li Location
    %li Commitment


%h2 Lead
%p
  A lead should be a short text that catches attention; a brief, motivating description of your challenge. Try to find a good balance between catchiness and a formal description. Here are some examples for inspiration; 
  %ul
    %li
      %b Would you survive the titanic cruise? 
      %br
      %small Predict whether a passenger will survive the cruise based on their information using machine learning tools
    %li
      %b Show what you can do with 6 Billion webpages 
      %br
      %small Run your own mapreduce analysis at the SURFSara's hadoop cluster containing the commoncrawl database

%h2 Description
%p
  The description offers a more in-depth coverage of a challenge. We value this deeply, and will review this thoroughly! The description should give a detailed overview of what the student can expect from a challenge. There are two main categories of challenges, those with a specifically defined result and those without. The latter should define methods to be included in the process, so as not to create complete chaos.

%h3 Defined by result
%p
  The relatively oldfashioned way to specify a challenge is by defining the expected result. The tools used to achieve this goal do not have to be specified, although they can be if you prefer that. This form will probably result in a clear focus for the student, but it might be easier and less challenging.
%p
  For some challenges it might be handy that you specify some prerequisites, but keep in mind that prerequisites limit your audience. Our experience shows that students are quick learners and most required prerequisites can be learned on the fly. The last element is a short descriptive introduction of the supervisors. You could tell the students in a few words of your background and interests.

%h3 Defined by method
%p
  Rather than defining the expected result from your participants, you can also define tools and methods to be used in the process. This provides students with a lot of freedom as to what they wish do in their challenge.
%p
  It must be very clear what a student will do with the resources provided. For example with the challenge <b>"Show what you can do with 6 Billion webpages"</b> the description must contain that the student will come up with there own more specific research question e.g. 
  <i>"What is the readability of the web </i>
  (<a href="http://norvigaward.github.io/entries.html#naward14" target="_blank">link</a>)", 
  <i>"associating Concepts using the World Wide Web </i>
  (<a href="http://norvigaward.github.io/entries.html#naward13" target="_blank">link</a>)" or 
  <i>"An analysis of the use of JavaScript libraries on the web </i>
  (<a href="http://norvigaward.github.io/entries.html#naward18" target="_blank">link</a>)"  
  but it is required that they will use the commoncrawl database, the SURFSara cluster and write a short paper about their analysis. The student is completely free in what he or she will do within the resources you specify.

%h2 Location
%p
  Most challenge will take place on the university, in which case we will take care of this!

%h2 Commitment
%p
  Students have well-filled schedules so it is important that they know how much time they need to invest in a challenge. Be honest with yourself and fill in the required amount of time. 

%h2 Duration
%p
  There is no fixed time for a challenge. But be aware that the longer a challenge last less students are willing to enroll. Our experience learns that aligning it with the university schedule results in higher enrollments. So that’s about 8 weeks.
