.page-header
  %h1 Challenge guidelines
%p
  These guidelines are there to ensure that a challenge will meet our requirements. So they should give you a clear oversight of our expectations. A challenge consist out of various parts and this document will describe each headliner shortly.
  %br
  %br
  Here is a short overview
  %ul
    %li Lead
    %li Description
    %li Location
    %li Commitment


%h2 Lead
%p
  This should be something that inspires a student, a short catchy description of your challenge. Find a good balance between catchiness and a formal description. Here are some examples to learn from; 
  %ul
    %li
      %b Would you survive the titanic cruise? 
      %br
      %small Predict whether a passenger will survive the cruise based on their information using machine learning tools
    %li
      %b Show what you can do with 6 Billion webpages 
      %br
      %small run your own mapreduce analysis at the SURFSARA's hadoop cluster containing the commoncrawl database

%h2 Description
%p
  This is very important and will be reviewed thoroughly! The description needs to give a detailed overview about what the student can expect from a challenge. There are two types of challenges, the ones with an unspecific goal and the ones with a specific goal.

%h3 Unspecific goal
%p
  The goal is that a student will use resources you specify, meaning that the goal is less specific. It must be very clear what a student will do with the resources provided. For example with the challenge <b>"Show what you can do with 6 Billion webpages"</b> the description must contain that the student will come up with there own more specific goal e.g. <i>"What is the readability of the web - <a href="http://norvigaward.github.io/entries.html#naward14" target="_blank">link</a>"</i>, <i>"associating Concepts using the World Wide Web - <a href="http://norvigaward.github.io/entries.html#naward13" target="_blank">link</a> "</i> or <i>"An analysis of the use of JavaScript libraries on the web - <a href="http://norvigaward.github.io/entries.html#naward18" target="_blank">link</a>"</i>  but it is required that they will use the commoncrawl database, the SURFSara cluster and write a short paper about their analysis. The student is completely free in what he or she will do within the resources you specify.

%h3 Specific goal
%p
  This is the form with a specific goal; a student cannot define his or her own sub goal. The tool used to achieve the goal does not have to be specified, however this can be the case if you want to. This form will probably result in a clear focus for the student, however it might be easier and less challenging.
%p
  For some challenges it might be handy that you specify some prerequisites. But keep in mind while defining your prerequisites that the more prerequisites you specify the less students can apply. Our experience learns that students are quick learners and most required prerequisites are learned on the fly. The last and final element is a short descriptive introduction of the supervisors. Just tell the students in a few words what your background is.

%h2 Location
%p
  Most challenge will take place on the university so we will take care of this!

%h2 Commitment
%p
  Students have full schedules so it is important that they know how much time they need to invest in a challenge. Be honest with yourself and fill in the required amount of time. 

%h2 Duration
%p
  There is no fixed duration for a challenge. But be aware that the longer a challenge last less students are willing to enroll. Our experience learns that aligning it with the university schedule results in higher enrollments. So that’s about 8 weeks.