.page-header
  %h1 Companies
.row.vertical-spacing
  .span7.center.offset2
    %h1 Join science challenges?
    %p.lead
      Together we can make a difference!
      %br
      %br
      %a{:href => "mailto:join@sciencechallenges.nl?subject=We want to join!", :class => 'btn btn-primary btn-large'}
        Contact us now
.row.vertical-spacing
  .span7.center.offset2
    %h1 How does it work
    %p.lead
      Send us a challenge
    .row
      .span1.offset1
        %i.icon-file{:style => 'font-size: 80px;'}
      .span1
        %i.icon-arrow-right{:style => 'font-size: 40px;'}
      .span1
        %i.icon-search{:style => 'font-size: 80px;'}
      .span1
        %i.icon-arrow-right{:style => 'font-size: 40px;'}
      .span1
        %i.icon-check{:style => 'font-size: 80px;'}
    .row
      .span1.offset1
        Your challenge
      .span1.offset1
        Reviewing process
      .span1.offset1
        Challenge accepted

.row.vertical-spacing
  .span7.center.offset2
    %h1 Your challenges
    %p.lead
      Students will join if it's awesome enough