<input type="hidden" id="page_identifier" value="static.createchallenge">
.page-header
  %h1 Create a challenge
.row
  .span7.offset1
    %p
      We from Science Challenges would like you to share your expert knowlegde, or the knowledge in your organisation. 
      The best way to inspire students is with an expert in the field with valuable knowledge.
      You probably have a lot of challenging questions in your line of work and we offer you the opportunity to share these challenges with students.
      Let's assume you are an expert in the field of Big Data, you might offer students a challenge like 
      %i "Show what you can do with 6 Billion webpages".
  .span3.bigicon{:style => 'padding-top: 20px;'}
    %i.icon-magic.blue-icon

.row.static-text-row
  .span3.bigicon.left-icon{:style => 'padding-top: 125px;'}
    %i.icon-info.blue-icon
  .span7
    %h2 Three pro tips
    %p
      It's not our first time and we want to share what we learned from hosting various challenges. 
      %ol
        %li
          %b Create an unambigious challenge description
          %br
          Make it very clear what a student is going to achieve with your challenge
        %li 
          %b Commitment
          %br
          Students are busy too! Make it very clear how much time they need to invest in the challenge.
        %li
          %b Duration
          %br
          Drawing from our experience, it best is to align a challenge with the university schedule so a maximum of 8 weeks.
      We feel confident that you can create an awesome challenge with these tips!

.container.static-text-row
  .span7.offset2.center
    %h1 Examples
    %p.lead
      To inspire you
  .span12
    .span4
      .stacktwo
        = image_tag 'norvigaward.png'
    .span5{:style => 'margin-top: 140px;'}
      %blockquote
        %p
          Show what you can do with 6 Billion webpages
        %small
          Norvig award winners
  .span12
    .span5.offset2{:style => 'margin-top: 140px;'}
      %blockquote.pull-right
        %p
          Will you survive the titanic
        %small
          Kaggle machine learning challenge
    .span4
      .stacktwo
        = image_tag 'titanic.png'

.container
  .span7.offset2.center
    - if current_user.present? && current_user.is_supervisor?
      %h1 Start your challenge now!
      .create_challenge
        %a.btn.btn-success.btn-large{href: new_challenge_path}
          %i.icon-plus-sign
          Create a challenge
    - else
      %h1 Join
      %a{:href => "mailto:challenges@inter-actief.net?subject=We want to join!", :class => 'btn btn-primary btn-large'}
        Contact us now


