.page-header
  %h1 Create a challenge
.row
  .span7.offset1
    %p
      We from Science Challenges want to share your expert knowlegde. 
      The best way to inspire students is with an expert in the field with valuable knowledge.
      How does that work? I bet you have a lot of challenging questions in your line of field and we offer you the opportunity to share these challenges with students.
      Lets assume that you are an expert in the field of Big Data, you might offer students a challenge like 
      %i "Show what you can do with 6 Billion webpages".
      Where students will show off their skills.
  .span3.bigicon{:style => 'padding-top: 20px;'}
    %i.icon-magic.blue-icon

.row.static-text-row
  .span3.bigicon.left-icon{:style => 'padding-top: 125px;'}
    %i.icon-info.blue-icon
  .span7
    %h2 Three pro tips
    %p
      It's not our first time and we want to share what we learned from hosting various challenges. 
      %ol
        %li
          %b Create an unambigious challenge description
          %br
          Make it very clear what a student is going to achieve with your challenge
        %li 
          %b Commitment
          %br
          Students are busy too! So make it very clear how much time they need to invest in the challenge.
        %li
          %b Duration
          %br
          Our best experience is to align it with there university schedule so a maximum of 8 weeks.
      We are confident that you can create an awesome challenge with these pro tips!

.container.static-text-row
  .span7.offset2.center
    %h1 Examples
    %p.lead
      To inspire you
  .span12
    .span4
      .stacktwo
        = image_tag 'norvigaward.png'
    .span5{:style => 'margin-top: 140px;'}
      %blockquote
        %p
          Show what you can do with 6 Billion webpages
        %small
          Norvig award winners LINK
  .span12
    .span5.offset2{:style => 'margin-top: 140px;'}
      %blockquote.pull-right
        %p
          Will you survive the titanic
        %small
          Kaggle machine learning challenge LINK
    .span4
      .stacktwo
        = image_tag 'titanic.png'

.container
  .span7.offset2.center
    %h2 Join
    %a{:href => "mailto:join@sciencechallenges.nl?subject=We want to join!", :class => 'btn btn-primary btn-large'}
      Contact us now


