<input type="hidden" id="page_identifier" value="index">

%h1 Static#index
%p Test123 werkt dit?
%a.btn{href: "#"}
  %i.icon-shopping-cart.icon-large
  Checkout
%p Find me in app/views/static/index.html.haml
