<input type="hidden" id="page_identifier" value="index">
= tracking_code(:account => ENV['GOOGLEANALYTICS'])
%link{ :href =>"http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700,900,700italic,900italic", :rel=>"stylesheet"}
#featured{"data-advance-speed" => "6500", "data-animation-speed" => "500", "data-autoplay" => "1", "data-bg-color" => "", "data-caption-animation" => "1", "data-slider-height" => "666"}
  .slide.orbit-slide.left
    %article{"data-background-cover" => "1", :style => "background-image: url('assets/nature.png')"}
      .container
        .col.span_12
          .post-title
            %h2{"data-has-caption" => "1"}
              %span
                Welcome to Science Challenges
            %a.uppercase{:href => "#"} Check the newest challenges
          / /post-title
  .slide.orbit-slides.right
    %article{"data-background-cover" => "1", :style => "background-image: url('assets/nature2.png')"}
      .container
        .col.span_12
          .post-title
            %h2{"data-has-caption" => "1"}
              %span
                Join the revolution now!
            %a.uppercase{:href => "#"} Create a challenge
          / /post-title
  .slide.orbit-slide.left
    %article{"data-background-cover" => "1", :style => "background-image: url('http://themenectar.com/demo/salient/wp-content/uploads/2013/05/5-52.jpg')"}
      .container
        .col.span_12
          .post-title
            %h2{"data-has-caption" => "1"}
              %span
                Change your future
            %a.uppercase{:href => "/users/sign_in"} Explore more challenges
          / /post-title
  .slide.orbit-slide.centered
    %article{"data-background-cover" => "1", :style => "background-image: url('http://themenectar.com/demo/salient/wp-content/uploads/2013/05/8-21.jpg')"}
      .container
        .col.span_12
          .post-title
            %h2{"data-has-caption" => "1"}
              %span
                Basically, we're awesome.
                What else really needs to be said?
            %a.uppercase{:href => "#"} Find out more
          / /post-title
  .slide.orbit-slide.left
    %article{"data-background-cover" => "1", :style => "background-image: url('http://themenectar.com/demo/salient/wp-content/uploads/2013/05/6-4.jpg')"}
      .container
        .col.span_12
          .post-title
            %h2{"data-has-caption" => "1"}
              %span
                We are awesome! Join JOIN JOIN
            %a.uppercase{:href => "#"} View everything
          / /post-title

.container
  .row
    .span12.center{:style => "margin-top: 600px;"}
      %h1
        What do we do
  .row.vertical-spacing
    .span4.bigicon
      %i.icon-rocket.blue-icon
    .span4.bigicon
      %i.icon-road.blue-icon
    .span4.bigicon
      %i.icon-heart.blue-icon
  .row.center
    .span4
      lorem ipsum small amount of lines wiht limited information but sufficient enough
    .span4
      lorem ipsum small amount of lines wiht limited information but sufficient enough
    .span4
      lorem ipsum small amount of lines wiht limited information but sufficient enough
.container{:style => "margin-top: 50px;"}
  .span12.vertical-spacing
    %h1.center
      Staff selected challenges
    = render 'shared/challenges_list' , :challenges => @highlighted_challenges, :options => {:no_status => true}
.container
  .span12.center.vertical-spacing
    %h1
      Testimonials 
  .span12.vertical-spacing
    .span4
      .stacktwo
        = image_tag 'rom.png'
    .span5{:style => 'margin-top: 140px;'}
      %blockquote
        %p
          Quote van ROM
        %small
          Rom Langerak opleidings directeur Universiteit Twente
  .span12
    .span5.offset2{:style => 'margin-top: 140px;'}
      %blockquote.pull-right
        %p
          Quote van Huib Pasman
        %small
          Huib Pasman - Technology Strategy & Strategic Marketing TNO
    .span4
      .stacktwo
        = image_tag 'huib.png'
