<input type="hidden" id="page_identifier" value="index">
= tracking_code(:account => ENV['GOOGLEANALYTICS'])
.hero-unit
  %h1
    %i.icon-rocket
    - ab_test("title_text", "lock", "unlock") do |ab|
      #{ab} your
      %strong potential.
  %p
    %span.brand
      = precede("Science") do
        %strong Challenges
    organizes challenges for students of the
    %strong University of Twente.
    Challenges are short projects that allow you to do some pretty cool things. Are you up to it?
  %p
    %a.btn.btn-primary.btn-large{:href => new_user_session_path} Join now!
    %a.btn.btn-large{:href => "mailto:dummy"} Organize a challenge
  %p
    %a{:href => "#"}
      Read more about Science Challenges and its goal &raquo;
%h1
  %i.icon-lightbulb.color-sun-flower
  Highlighted Challenges
= render 'shared/challenges_list' , :challenges => @highlited_challenges, :options => {:no_status => true}
