<input type="hidden" id="page_identifier" value="index">

%h1 Welcome
%p This will become the landing page!
%p Challenges are awesome, and you should definitly subscribe! Click Login in the top bar...
