<input type="hidden" id="page_identifier" value="index">
%link{ :href =>"http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700,900,700italic,900italic", :rel=>"stylesheet"}
#featured{"data-advance-speed" => "6500", "data-animation-speed" => "500", "data-autoplay" => "1", "data-bg-color" => "", "data-caption-animation" => "1", "data-slider-height" => "666"}
  .slide.orbit-slide.left
    %article{"data-background-cover" => "1", :style => "background-image: url('assets/screenshot.jpg')", "data-stellar-background-ratio" => 0.5}
      .container
        .col.span_12
          .post-title
            %h2{"data-has-caption" => "1"}
              %span
                Welcome to Science Challenges
            %a.uppercase{:href => "#challenges"} Check the newest challenges
          / /post-title
  .slide.orbit-slides.right
    %article{"data-background-cover" => "1", :style => "background-image: url('assets/university.jpg')", "data-stellar-background-ratio" => 0.5}
      .container
        .col.span_12
          .post-title
            %h2{"data-has-caption" => "1"}
              %span
                Join an awesome challenge 
            %a.uppercase{:href => new_user_session_path } Sign in now
          / /post-title
  .slide.orbit-slides.centered
    %article{"data-background-cover" => "1", :style => "background-image: url('assets/nerds.jpg')", "data-stellar-background-ratio" => 0.5}
      .container
        .col.span_12
          .post-title
            %h2{"data-has-caption" => "1"}
              %span
                Our highly motivated team
            %a.uppercase{:href => team_path } Read more about us!
          / /post-title

.container
  .row
    .span12.center{:style => "margin-top: 600px;"}
      %h1
        What do we do
  .row.vertical-spacing
    .span4.bigicon
      %i.icon-rocket.blue-icon
    .span4.bigicon
      %i.icon-road.blue-icon
    .span4.bigicon
      %i.icon-heart.blue-icon
  .row.center
    .span4
      %h2
        Inspire
    .span4
      %h2
        Connect
    .span4
      %h2
        Care
  .row.center
    .span4
      It is our mission to inspire students to discover and pursue their passion. Unlocking the full potential of students by creating a healthy community to stimulate the sharing of knowledge.
    .span4
      Students can search and enroll for challenges that meet their interests. It is a unique opportunity for students to work with some of the leaders in the field.
    .span4
      Learn, share, make friends and have fun! That is our core value, we try to remove all obstacles to make it as accessible and enjoyable as possible for students to discover their passion.
.container{:style => "margin-top: 50px;"}
  .span12.vertical-spacing
    %h1.center
      %a{:id => "challenges"}
      Staff selected challenges
    = render 'shared/challenges_list' , :challenges => @highlighted_challenges, :options => {:no_status => true}
.container{:style => "margin-top: 50px;"}
  .span12.vertical-spacing
    %h1.center
      %a{:id => "challenges"}
      We want your challenges
    %p.lead.center
      Check for more info
  .span6.center.offset3
    .span2.bigicon
      %i.blue-icon.icon-building
    .span2.offset1.bigicon
      %i.blue-icon.icon-book
  .span6.center.offset3{:style => "margin-top: 20px;"}
    .span2
      %a{:href => companies_path, :class => "btn btn-primary btn-large"}
        Companies
    .span2.offset1
      %a{:href => universities_path, :class => "btn btn-primary btn-large"}
        Universities
    
.container
  .span12.center.vertical-spacing
    %h1
      Testimonials 
  .span12
    .span4
      .stacktwo
        = image_tag 'rom.png'
    .span5{:style => 'margin-top: 140px;'}
      %blockquote
        %p
          Niks is zo uitdagend als een challenge
        %small
          Rom Langerak Director of Education University of Twente

