.page-header
  %h1 Press
.row
  .span7.center.offset2.vertical-spacing-big
    %h1.vertical-spacing-big Download our logos
    %p.lead spread the word
    %a{ :href => asset_path('logo.zip'), :style => "text-decoration:none;"}
      %i.icon-download.bigicon.blue-icon
      %p.lead.subtext-icon Download
#push