<input type="hidden" id="page_identifier" value="static.press">

.page-header
  %h1 Press
.row
  .span6.center.vertical-spacing-big
    %h1.vertical-spacing-big Download our logos
    %p.lead spread the word
    %a{ :href => asset_path('logo.zip'), :style => "text-decoration:none;"}
      %i.icon-download.bigicon.blue-icon
      %p.lead.subtext-icon Download
  .span6.center.vertical-spacing-big
    %h1.vertical-spacing-big Contact us
    %p.lead get information
    %a{ :href => "mailto:press@sciencechallenges.nl", :style => "text-decoration:none;"}
      %i.icon-envelope.bigicon.blue-icon
      %p.lead.subtext-icon Mail
#push