<input type="hidden" id="page_identifier" value="static.universities">

.page-header
  %h1 Universities
.container.vertical-spacing
  .span7.center.offset2.vertical-spacing
    %h1 Join science challenges?
    %p.lead
      Together we can make a difference!
      %br
      %br
      %a{:href => "mailto:join@sciencechallenges.nl?subject=We want to join!", :class => 'btn btn-primary btn-large'}
        Contact us now
      %br
      %span{:style => "font-size: 12px;"} University already listed? 
      %a{:style => "font-size: 12px;", :href => new_user_registration_path } Request an account.

.container.vertical-spacing-big
  .span7.center.offset2
    = image_tag('logoutwente.jpg', :class => "utwente-logo")

#push
