<h1>Editing challenge</h1>
<input type="hidden" id="page_identifier" value=<%= "challenges.#{@challenge.id}.edit" %> />

<%= render 'form' %>

<%= link_to 'Show', @challenge %> |
<%= link_to 'Back', challenges_path %>
