%input#page_identifier{:type => "hidden", :value => "challenges.index"}
#challenges_overview
  %h2
    Challenges Overview
  - if current_user.is_supervisor?
    .create_challenge
      %a.btn.btn-success{href: new_challenge_path}
        %i.icon-plus-sign
        Create a challenge
  = paginate @challenges
  .filters.btn-group
    %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
      Show
      = @filter
      %span.caret
    %ul.dropdown-menu
      %li
        %a{:class => @filter == "all" ? "active" : "", :href => "/challenges/", :type => "button"} All
      - if current_user.is_supervisor?
        %li
          %a{:class => @filter == "supervising" ? "active" : "", :href => "/challenges/supervising", :type => "button"}
            Supervising
      %li
        %a{:class => @filter == "upcoming" ? "active" : "", :href => "/challenges/upcoming", :type => "button"} Upcoming
      %li
        %a{:class => @filter == "running" ? "active" : "", :href => "/challenges/running", :type => "button"} Running
      %li
        %a{:class => @filter == "enrolled" ? "active" : "", :href => "/challenges/enrolled", :type => "button"} Enrolled
      %li
        %a{:class => @filter == "past" ? "active" : "", :href => "/challenges/past", :type => "button"} Past
  = render 'shared/challenges_list' , :challenges => @challenges.decorate
  = paginate @challenges
