<input type="hidden" id="page_identifier" value=<%= "challenges.#{@challenge.id}" %> />

<p id="notice"><%= notice %></p>

<%= render :partial => 'shared/challenge', :object => @challenge, :as => 'challenge' %>
