// Place all the styles related to the Challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Challenge Detail
.challenge_detail {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  h2 {
    text-align: center;
    font-size: 30px;
  }
  .supervisor {
    text-align: center;
  }
  .video {
    margin-bottom: 20px;
  }
  .action {
    text-align: center;
  }
  .date {
    margin-top: 10px;
  }
  .details {
    hr {
      border-top: 1px solid rgba(0,0,0, 0.1);
      border-bottom: 1px solid rgba(255,255,255, 1);
      color: red;
    }
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    width: 300px;
    background: #ececec;
    padding: 20px;
    text-shadow: 1px 1px 0px white;
    .detail { 
      i {
        font-size: 25px;
        float: left;
        width: 30px;
        text-align: center;
      }
      strong {
        font-size: 25px;
        margin: 0px 0px 0px 0px;
        padding-left: 40px;
        display: block;
        line-height: 25px;
      }
      span.type {
        padding-left: 40px;
        display: block;
        font-size: 12px;
        color: #666;
      }
    }
    p {
      margin: 0px 0px 10px 0px;
    }
    .participants_detail {
      margin-right: -10px;
    }
    .profile_small_tile {
      margin-top: 0px;
      margin-bottom: 5px;
    }
  }
}
// Challenge form
.challenge-form {
  img {
    display: inline;
    vertical-align: top;
    width: 150px;
    margin-right: 10px;
  }
  .popover {
    .popover-title {
      font-family: 'Noto Sans', sans-serif;
      font-size: 13px;
      font-weight: bold;
    }

    .popover-content {
      font-size: 12px;
    }
  }
}
.pagination {
  margin: 0px;
  float: left;
  margin-right: 20px;
  height: 20px;
}
.filters {
}
// Challenge Tiles
.challenges-list{
  clear: both;
  margin-bottom: 20px;
  .challenge {
     -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
     box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
    // @extend .span4;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    padding: 10px;

    font-size: 13px;
    .status {
      position: absolute;
      right: 6px;
      top: 4px;
      z-index: 1;
      .badge {
        box-shadow: 1px 1px 1px rgba(0,0,0,.3);
      }
    }
    .thumb {
      height: 150px;
      display: block;
      background-color: #eee;
      margin: -10px 0px 10px -10px;
      width: 300px;
      position: relative;
      h4 {
        font-weight: 300;
        text-shadow: 0px 0px 1px rgba(0,0,0,0.6);
        display: block;
        width: 290px;
        color: white;
        position: absolute;
        bottom: 0px;
        margin: 0px;
        padding: 20px 0px 10px 10px;
        background-image: linear-gradient(bottom, rgb(0,0,0) 0%, rgb(130,121,130) 76%);
        background-image: -o-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(130,121,130) 76%);
        background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(130,121,130) 76%);
        background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(130,121,130) 76%);
        background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(130,121,130) 76%);

        background-image: -webkit-gradient(
          linear,
          left bottom,
          left top,
          color-stop(0, rgba(0,0,0,0.8)),
          color-stop(1, rgba(0,0,0,0.0))
        );

        // background-image: 
      }
    }
    .description {
      text-overflow: ellipsis;
      // white-space: nowrap;
      overflow: hidden;
      padding: 3px 0px;
      margin-bottom: 0px;
      height: 3em;
    }
    .actions {
      display: block;
      a {
        display: inline-block;
        clear: both;
      }
    }
    .date {
      margin-bottom: 0px;
      overflow: hidden;
      i {
        display: block;
        float: left;
        overflow: auto;
        margin-right: 5px;
        margin-top: 2px;
      }
      .start-stop {
        // clear: both;
        // font-size: 12px;
        display: block;
        float: left;
        overflow: hidden;
        white-space: nowrap;
        font-size: 12px;

      }
      clear: both;
        overflow: auto;
    }
    .progress {
      margin-top: 10px;
      height: 10px;
      margin-bottom: 10px;
    }
    ul.details {
      background: #ececec;
      width: 280px;
      list-style: none;
      margin: 0px 0px -10px -10px;
      padding: 10px;
      overflow: auto;
      text-shadow: 1px 1px 0px white;
      li {
        display: inline-block;
        left: 110px;
        position: absolute;
        &:last-child {
          margin: 0px;
          float: right;
          position: static;
        }
        &:first-child {
          margin: 0px;
          float: left;
          position: static;
        }
        strong {
          display: block;
          line-height: 10px;
          font-size: 13px
        }
        font-size: 11px;
        text-transform: uppercase;
      }
    }
    .description {
      height: 5em;
    }
    .actions {
      // border-top: 1px solid gray;
      text-align: center;
      margin-top: 10px;
      padding: 10px 10px 0px 10px;
      .enroll {

      }
    }
  }
}
