/* Flat UI Colors */

$color-turquoise:     #1abc9c;
$color-emerland       #2ecc71;
$color-peter-river:   #3498db;
$color-amethyst       #9b59b6;
$color-wet-asphalt:   #34495e;
$color-green-sea:     #16a085;
$color-nephritis:     #27ae60;
$color-belize-hole:   #2980b9;
$color-wisteria:       #8e44ad;
$color-midnight-blue: #2c3e50;
$color-sun-flower:    #f1c40f;
$color-carrot:        #e67e22;
$color-alizarin       #e74c3c;
$color-clouds:        #ecf0f1;
$color-concrete       #95a5a6;
$color-orange:        #f39c12;
$color-pumpkin:       #d35400;
$color-pomegranate:   #c0392b;
$color-silver:        #bdc3c7;
$color-asbestos       #7f8c8d;