body {
	font-family: 'Noto Sans', sans-serif;
}

.notosans {
	font-family: 'Noto Sans', sans-serif;
}

.quicksand {
	font-family: 'Quicksand', sans-serif;
}

.notoserif {
	font-family: 'Noto Serif', serif;
}