// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  #instant-search {
    background-color: #666;
    border-color: #999;
    color: white; /* Set regular color; if user starts typing but blurs, text should still be white */
  }

  /* Set the color of the placeholder*/
  #instant-search::-webkit-input-placeholder { color: #ddd; }
  #instant-search:-ms-input-placeholder      { color: #ddd; }/* IE10+ */
  #instant-search:-moz-placeholder           { color: #ddd; }

  .tt-suggestion {
    border-bottom: 1px solid #ccc;
  }

  /* Prevents some trouble with size of instant search input text field */
  .instant-search-beforeLoad {
    width: 100px;
  }

  .instant-val .instant-sub {
    text-decoration: none;
  }

  .instant-val {
    font-weight: bold;
  }

  .instant-sub {
    font-style: italic;
  }

  .instant-img {
    width: 36px;
    heigth: 36px;
    display: block;
    margin: 4px 4px 4px 0px;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
  }

  #instant-footer {
    text-align: center;
    font-weight: bold;
  }