p.or-divider { 
  width:80%;
  text-align:center;
  border-bottom: 1px solid #e5e5e5;
  color: #777;
  line-height:0.1em;
  margin:10px auto;
}

p.or-divider span {
  padding: 15px;
  background:#f1f1f1;
}

.login-box {
  padding: 20px 25px 25px;
  margin: 15 px;
  border: 1px solid #e5e5e5;
  background: #f1f1f1;
}

.hidden {
  display: none;
}
