// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* safari and chrome */
@-webkit-keyframes wiggle {
	0% {-webkit-transform:rotate(8deg);}
	15% {-webkit-transform:rotate(-8deg);}
	30% {-webkit-transform:rotate(8deg);}
	45% {-webkit-transform:rotate(0deg);}
}
 
/* firefox */
@-moz-keyframes wiggle {
	0% {-moz-transform:rotate(8deg);}
	15% {-moz-transform:rotate(-8deg);}
	30% {-moz-transform:rotate(8deg);}
	45% {-moz-transform:rotate(0deg);}
}

/* anyone brave enough to implement the ideal method */
@keyframes wiggle {
	0% {transform:rotate(8deg);}
	15% {transform:rotate(-8deg);}
	30% {transform:rotate(8deg);}
	45% {transform:rotate(0deg);}
}

@-moz-keyframes pulse {
    0% {-moz-transform: scale(0); }
	75% { -moz-transform: scale(1.1); }
    100% { -moz-transform: scale(1); }
}
@-webkit-keyframes pulse {
    0% {-webkit-transform: scale(0); }
	75% { -webkit-transform: scale(1.1); }
    100% { -webkit-transform: scale(1); }
}
@-o-keyframes pulse {
    0% {-o-transform: scale(0); }
	75% { -o-transform: scale(1.1); }
    100% { -o-transform: scale(1); }
}
@keyframes pulse {
    0% {transform: scale(0); }
	75% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.pulse {
	-webkit-animation: pulse 0.5s 1s 1 forwards;
	-moz-animation: pulse 0.5s 1s 1 forwards;
	animation: pulse 0.5s 1s 1 forwards;
}

.wiggler {
	-webkit-animation: wiggle 0.7s 2s 3;
	-moz-animation: wiggle 0.7s 2s 3;
	animation: wiggle 0.7s 2s 3;
}

#mailbox {
	position: relative;
	cursor:	pointer;
	.badge {
		// box-shadow: 0px 0px 5px rgb(241, 114, 101);
		position: absolute;
		top: 5px;
		right: 8px;
		border-radius: 100%;
		padding: 0px 4px;
		font-size: 11px;
		background-color: #c0392b;
		-moz-transform: scale(0);
		-webkit-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
	}
}
.message {
	border-bottom: 1px solid gray;
	padding: 0px;
	margin:0px;
	padding: 15px;
}

.message:nth-child(even) {
	background-color: #fafafa;
}

.modal-body {
	padding:0px;
}

.message:last-child {
	border-bottom: none;
}

.icon-active {
/*	background-color: #ccc;*/
}

.mail-message .from-user {
	margin-left: 15px;
}

.mail-message td a:first-child {
	font-size: 120%;
	font-weight: bold;
}

tr.mail-message.unread {
	background-color: #B2E0FF;
}

tr.mail-message.unread:nth-child(odd) {
	background-color: #C9E9FF;
}

.readstatus {
	margin-right: 15px;
}

#composeMessage .form {
	margin: 0;
	padding: 0;
}

#composeMessage textarea, #composeMessage input {
	margin: 12px;
}

#peopletags {
	margin: 12px 0px 0px 12px;
}

#peopletags a {
	font-weight: bold;
}

#peopletags:before {
	content: 'Recipients: ';
}
