// Place all the styles related to the Profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile
{
  margin-top: 15px;
}

.profile_name{
    font-size: 25px;
    margin-bottom: 5px
}

.profile_tagline {
    height: 20px;
}

.profile_buttons{
     margin-top: 5px;
}

.follow_image_small{
  width: 30px;
  height: 30px;
}

.profile_info_icons{
    margin-top: 5px;
    font-size: 12px;
    font-weight: 100;
    margin-right: 5px;
    color:  gray;
}

.profile_info_icons a{
  text-decoration: none;
  color: gray;
}

.year_icon{
  margin-left: 5px;
}

.challenges_list{
  margin-top: 20px;
  .challenge{
    margin-bottom: 20px;
    border: 1px gray solid;
    border-radius: 6px;
    padding: 5px;
    height: 120px;
    position: relative;
  }

  .challenge_title{
    font-size: 20px;
  }
  .challenge_description{
    margin-top: 5px;
  }

  .challenge_icons{
    position: absolute;
    bottom: 5px;
    right: 10px;
  }
}

.follows_item{
  margin-bottom: 10px;
}

.following{
margin-top: 40px;
}

