#search-full-query {
  font-size: 25px;
  height: 31px;
}

#search-full-query::-webkit-input-placeholder { padding-top: 7px; }
#search-full-query:-ms-input-placeholder      { padding-top: 7px; }
#search-full-query::-moz-placeholder          { padding-top: 7px; }
