// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bigicon{
	font-size: 90px;
	text-align: center;
}

.blue-icon{
	color: rgba(0, 136, 204, 0.7);	
}

.static-text-row{
	margin-top: 60px;
}
.left-icon{
	padding-left: 40px;
}

.rounded-image{
	text-align: center;
	border-radius: 50%;
	height: 150px;
}
.vertical-spacing{
	margin-top: 60px;
}
.vertical-spacing-big{
	margin-top: 80px;
}

.center{
	text-align: center;
}

.team-name{
	margin-top: 15px;
	font-size: 20px;
}

.utwente-logo{
	width: 500px;
}
.subtext-icon{
	color: #777;
}