%h1
  Hi there!
%p
  Edit some weirdo user with id #{@user.id}
%p
  But first, you should write the entire thing in haml (old one is still in ERB)
  %a{:href => admin_usermanagement_index_path }
    Some link