%tr
  %td.id= user.id
  %td.title= link_to user.firstname, profile_user_path(user)
  %td.title= user.lastname
  %td.email= user.email
  %td.actions
    %i.icon-envelope
    %i.icon-pencil
    %i.icon-trash.color-pomegranate
