%tr
  %td.id= user.id
  %td.title
    %a{ :href => profile_user_path(user) }
      = user.firstname
  %td.title= user.lastname
  %td.email= user.email
  %td.actions
    %i.icon-envelope
    %i.icon-pencil
    %i.icon-trash.color-pomegranate
