%input{:type => :hidden, :id =>'page_identifier', :value => 'admin/usermanagement.index'}
%h2
  User management
%table.table.table-hover
  %th ID
  %th Firstname
  %th Lastname
  %th Email
  %th Role
  %th State
  %th Actions

  - @users.each do |user|
    = render :partial => 'admin/usermanagement/usermanagementtablerow', :object => user, :as => 'user'