= form_for(comment, :method => :post, :url => comment_index_path, :html => { :class => 'commentform'}) do |f|
  = f.text_area :comment, :class => 'input commenttextarea span8', :placeholder => 'Comment', :rows => "4"
  = f.hidden_field :challenge_id, :value => @challenge.id
  %br
  = f.submit 'Add comment', :class => 'btn'
