= form_for(comment, :method => :post, :url => comment_admin_review_path, :html => { :class => 'commentform'}) do |f|
  = f.text_area :comment, :class => 'input commenttextarea', :placeholder => 'Comment'
  = f.submit 'Add comment', :class => 'btn'