%footer.footer.footersmall
  .container
    .row
      %ul.footer-links-inline
        %li 
          = link_to "Terms of Service", termsofservice_path
        %li 
          = link_to "Privacy", privacy_path
        %li
          %a{:href => "mailto:contact@sciencechallenges.nl"}
            Contact