<!DOCTYPE html>
<html>
<head>
  <title>Challengesplatform</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic|Quicksand|Noto+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
